body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
  }
  
a {
    text-decoration: none;
  }

.container{
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

header{
  height: 90px;
  width: 100%;
}

.header-upper{
  height: 45px;
  width: 100%;
  background-color: #778899;
  opacity: 0.5;
}

.header-below{
  height: 45px;
  width: 100%;
  background-color: #778899;
}


.header-logo{
  width: 120px;
  height: 45px;
}

.header-icon{
  float: right;
  padding-right: 10px;
}

input{
  vertical-align: middle;
  margin-top: 10px;
}

form{
  height: 45px;
}


.sns-icon{
  font-size: 45px;
}


.header-container{
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  color: white;
}

.top-slide{
  width: 100%;
  margin: 0;
}

.slide{
  width: 50%;
  margin: 0;
}

