body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
  }
  
a {
    text-decoration: none;
  }

.container{
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.header-logo{
  width: 5% 10%;
  display: none;
}


